

.navbar-custom {
/*   background-color: rgb(51, 51, 51);*/
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(171, 113, 36, 1) 40%, rgba(171, 113, 36, 1) 50%, rgba(171, 113, 36, 1) 60%, rgba(0, 0, 0, 0) 100%);

  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(171, 113, 36, 1) 40%, rgba(171, 113, 36, 1) 50%, rgba(171, 113, 36, 1) 60%, rgba(0, 0, 0, 0) 100%);

  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(245, 173, 15, 1) 40%, rgba(200, 147, 76, 1) 50%,rgba(200, 147, 76, 1) 60%, rgba(0, 0, 0, 0) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);

  height: 10%;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(152, 184, 151);
}


.navbar-custom .navbar-nav .nav-link {
  color: rgb(72, 203, 183);rgb(41, 134, 136)
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #E84A5F;
}


.navbar-default .navbar-toggle {
  border-color: #E84A5F;
}

#navbarLink {
  margin-left: 5rem;
  margin-right: auto;
  font-weight: bold;
}
.logo{
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}

/* * Links **/
a {
  text-decoration: none;
  color: #020B40;
  outline-style: none;
}

a:visited {
  color: #020B40;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #f205be;
}
