#bod {
  
}

h2{
    color: #ff8100;
    text-align: center;
}

h3 {
    magin-right: 2em;
}

#information{
    background-color: #d4d4d4;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 70px;
    border-top: 10px solid #8892bf;
}

.titre{
    margin-top: 5em;
    color: #8892bf;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

p{
    line-height: 0.5;
}
.date {
    font-weight: 700;
}
