/*Retire les marges*/
html, body {
    margin:0;
    padding:0;
}


body{
    height: 100%;
    background-image:url("assets/img/fond.jpg");
}

#bod {

}

/*///// MENU /////*/
.navbar-custom {
    background-color: #D96704;
    height: 10%;
    -moz-box-shadow: 0px 12px 15px 0px #000000;
    -webkit-box-shadow: 0px 12px 15px 0px #000000;
    -o-box-shadow: 0px 12px 15px 0px #000000;
    box-shadow: 0px 12px 15px 0px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=15);
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(152, 184, 151);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #369AD9;
}


/* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */
.navbar-default .navbar-toggle {
    border-color: #E84A5F;

}

#navbarLink {
    margin-left: 5rem;
    margin-right: auto;
    font-weight: bold;
}
.logo{
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}

/* ***** Links ******/
a {
    text-decoration: none;
    color: #020B40;
    outline-style: none;
}

a:visited {
    color: #020B40;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: #F27405;
}


/*///// MISE EN PAGE /////*/

.video{
    width: 100%;
    background-color: #369AD9;
}

h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #ff8100;
}

h2{
    color: #ff8100;
    margin-left: 10rem;
}

h3 {
    magin-right: 2em;
}

p{
    margin-left: 10rem;
    margin-right: 10rem;
}

#information{
    background-color: #d4d4d4;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 70px;
    border-top: 10px solid #8892bf;
}

.titre{
    margin-top: 5em;
    color: #8892bf;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}


.date {
    font-weight: 700;
}

li {
    list-style: none;
}


/* CSS du Footer */

footer {
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(152, 184, 151);
    position: absolute;

}

.footer-title {
    font-size: 0.98rem;
    font-weight: 700;
}

.footer-legis {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

p[class-"footer-info"]{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.pFooter{
    line-height: 1.2;
}

hr.footerHR {
    background-color: rgb(171, 63, 44);
    width: 60px;
}

/* ***** Links ******/

a.footerText {
    color: #FFF;
    text-decoration: none;
}


/************* SEPARATOR *************/
.separator {
    background-color: #666;
    height: .06em;
    margin-bottom: .7em;
}