body{
  line-height: 1rem;
}

.navbar-custom {
  background:#f5ad0f;
  height: 10%;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #98b897;
}


.navbar-custom .navbar-nav .nav-link {
  color: #298688;
}


.navbar-default .navbar-toggle {
  border-color: #E84A5F;
}

#navbarLink {
  margin-left: 5rem;
  margin-right: auto;
  font-weight: bold;
}
.logo{
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}

/* * Links **/
a {
  text-decoration: none;
  color: #020B40;
  outline-style: none;
}

a:visited {
  color: #020B40;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #f205be;
}
.titreAcceuil1{
    margin-top: 5rem;
    margin-left: 5rem;
}
/*page2*/
h1{
  color: rgb(172, 101, 34);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
max-width:30rem;
border-radius:1rem;
background-color: #f5ad0f;
text-align: center;
margin-top: 3rem;
}
p{
color: #298688;
font-family: 'Montserrat', sans-serif;
padding-top: 0rem;
margin-bottom: 0.3rem;
}
#i1, #i2, #i3, #i4, #i5{
  padding:3rem;
  width:340px;
  display:inline-block;
  }
.caption-text{
  color: #298688;
margin-top: 0.3rem;
font-family: 'Montserrat', sans-serif;
}
h2{
  color: rgb(172, 101, 34);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width:35rem;
  border-radius:1rem;
  background-color: #f5ad0f;
  text-align: center;
  margin-top: 3rem;
}
.info{
  width: 30rem;
}
form{
  float:left;
}
